body { background-color:#eaf0f5; margin:0px; }

#MAIN_CONTAINER { min-width:1000px; }

.fl { float:left; }
.fr { float:right; }
.required { color:#FF0000; font-weight:normal; }
.error { color:#FF0000; font-size:13px; }

/* Header */
#HEADER { height:82px; background-color:#3d7aa6; color:#FFF; }
#HEADER #CONTENT { width:1250px; margin:0px auto; padding:8px 15px 0px; }
#HEADER #CONTENT #logo { margin-top:16px; font-size:32px;}
#HEADER #CONTENT #logo a { color:#FFF; text-decoration:none; }
#HEADER #CONTENT #logo a:hover { color:#FFF; text-decoration:none; } 
#HEADER #CONTENT #login #forgot a { color:#FFF; font-size:14px; }

/* Body */
#BODY_CONTAINER { min-height:650px; }
#BODY_CONTAINER > div { height:100%; width:1250px; margin:0px auto; padding:42px 15px 0px; }

/* Footer */
#FOOTER { height:32px; background-color:#3d7aa6; color:#FFF; }
#FOOTER #CONTENT { width:1250px; margin:0px auto; padding:8px 15px 0px; }

/* Home */
#HOME #search_large { margin-top:126px; }
#HOME #search_large #college_id { width:532px; margin:0px 0px 5px 31px; font-size:26px; border-color:#999; }
#HOME #search_large #query_box { height:70px; margin-bottom:5px; padding:6px 29px; border-radius:35px; border:1px solid #000; background-image:-webkit-linear-gradient(top, rgb(243, 243, 244) 0px, rgb(222, 224, 226) 100%); }
#HOME #search_large #query { width:500px; height:50px; padding:5px 15px; font-size:32px; border:none; background-image:-webkit-linear-gradient(top, rgb(243, 243, 244) 0px, rgb(222, 224, 226) 100%); outline:0; }


#HOME #sign_up td { width:196px; }
#HOME #sign_up input { font-size:16px; padding:5px; }
#HOME #sign_up input.wide { width:364px; }

/* Search Results */
#SEARCH_RESULTS #content { width:700px; margin:auto; }
#SEARCH_RESULTS #content .course { margin:8px 0px; padding:10px; border:1px solid #000000; cursor:pointer; }