#MAIN_CONTAINER { min-width:1000px; }

.fl { float:left; }
.fr { float:right; }
.required { color:#FF0000; font-weight:normal; }
.error { color:#FF0000; font-size:13px; }

/* Header */
#HEADER { height:74px; padding:8px 15px 0px; background-color:#3d7aa6; color:#FFF; }
#HEADER #logo { margin-top:16px; font-size:32px;}
#HEADER #logo a { color:#FFF; text-decoration:none; }
#HEADER #logo a:hover { color:#FFF; text-decoration:none; } 
#HEADER #login a#forgot { color:#FFF; font-size:14px; }

/* Body */
#BODY_CONTAINER { min-height:500px; padding:25px; }

/* Footer */
#FOOTER { height:32px; padding:10px; }

/* Home */
#HOME #search_large #college_id { font-size:26px; }
#HOME #search_large #query { width:500px; height:50px; padding:5px 15px; font-size:32px; }
#HOME #sign_up td { width:196px; }
#HOME #sign_up label { font-weight:bold; }

/* Search Results */
#SEARCH_RESULTS #content { width:700px; margin:auto; }
#SEARCH_RESULTS #content .course { margin:8px 0px; padding:10px; border:1px solid #000000; cursor:pointer; }